seaborn
matplotlib>=3.7.1
pandas>=2.0.2
pingouin
openai>=0.27
scipy
cchardet
fpdf2==2.7.3
pylatexenc
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
